In [37]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re

In [38]:
df = pd.read_csv('Input/Fide_Rankings.csv')

In [39]:
df

,rank,name,ELO,title,federation,games,birth_year
0,1,Magnus Carlsen,2864,GM,Norway,3125,1990
1,2,Liren Ding,2806,GM,China,1630,1992
2,3,Alireza Firouzja,2793,GM,France,845,2003
3,4,Fabiano Caruana,2783,GM,United States,2622,1992
4,5,Levon Aronian,2775,GM,United States,3320,1982
...,...,...,...,...,...,...,...
195,196,Boris Alterman,2608,GM,Israel,697,1970
196,197,Chithambaram VR Aravindh,2608,GM,India,535,1999
197,198,Jonas Buhl Bjerre,2608,GM,Denmark,411,2004
198,199,Surya Shekhar Ganguly,2608,GM,India,1811,1983
199,200,Vadim Milov,2608,GM,Switzerland,1583,1972

In [40]:
def age(birth_year):
    return 2022-birth_year

In [41]:
df["Age"] = df["birth_year"].apply(age)
df

,rank,name,ELO,title,federation,games,birth_year,Age
0,1,Magnus Carlsen,2864,GM,Norway,3125,1990,32
1,2,Liren Ding,2806,GM,China,1630,1992,30
2,3,Alireza Firouzja,2793,GM,France,845,2003,19
3,4,Fabiano Caruana,2783,GM,United States,2622,1992,30
4,5,Levon Aronian,2775,GM,United States,3320,1982,40
...,...,...,...,...,...,...,...,...
195,196,Boris Alterman,2608,GM,Israel,697,1970,52
196,197,Chithambaram VR Aravindh,2608,GM,India,535,1999,23
197,198,Jonas Buhl Bjerre,2608,GM,Denmark,411,2004,18
198,199,Surya Shekhar Ganguly,2608,GM,India,1811,1983,39
199,200,Vadim Milov,2608,GM,Switzerland,1583,1972,50

In [42]:
url = "https://www.chess.com/ratings?page=1"

In [43]:
html = requests.get(url)
html

In [44]:
soup = BeautifulSoup(html.content, "html.parser")

In [45]:
names = soup.select("a.username")

In [46]:
names[0].get_text().strip()

'Magnus Carlsen'

In [47]:
names = [name.get_text().strip() for name in names]
names

['Magnus Carlsen',
 'Ding Liren',
 'Ian Nepomniachtchi',
 'Alireza Firouzja',
 'Fabiano Caruana',
 'Levon Aronian',
 'Wesley So',
 'Hikaru Nakamura',
 'Anish Giri',
 'Shakhriyar Mamedyarov',
 'Maxime Vachier-Lagrave',
 'Viswanathan Anand',
 'Richard Rapport',
 'Leinier Dominguez Perez',
 'Sergey Karjakin',
 'Teimour Radjabov',
 'Alexander Grischuk',
 'Jan-Krzysztof Duda',
 'Wang Hao',
 'Dmitry Andreikin',
 'Veselin Topalov',
 'Wei Yi',
 'Nikita Vitiugov',
 'Samuel Shankland',
 'Pentala Harikrishna',
 'Le Quang Liem',
 'Vidit Santosh Gujrathi',
 'Kirill Alekseenko',
 'Radoslaw Wojtaszek',
 'Francisco Vallejo Pons',
 'Yu Yangyi',
 'Bu Xiangzhi',
 'Vladislav Artemiev',
 'Gukesh D',
 'Sanan Sjugirov',
 'Daniil Dubov',
 'Evgeny Tomashevsky',
 'Parham Maghsoodloo',
 'Alexei Shirov',
 'Gabriel Sargissian',
 'Michael Adams',
 'Matthew D Sadler',
 'Anton Korobov',
 'Bogdan-Daniel Deac',
 'Jeffery Xiong',
 'Arjun Erigaisi',
 'Alexandr Predke',
 'David Navara',
 'Hans Moke Niemann',
 'Nodirbek Abdusattorov']

In [48]:
ranks = soup.select("div.master-players-rating-player-rank")

In [49]:
ranks = [int(rank.get_text().strip()) for rank in ranks]
ranks

[2864,
 2847,
 2835,
 2808,
 2836,
 2788,
 2792,
 2821,
 2740,
 2778,
 2670,
 2791,
 2776,
 2766,
 2847,
 2775,
 2728,
 2850,
 2773,
 2779,
 2763,
 2768,
 2837,
 2850,
 2760,
 2721,
 2794,
 2759,
 2699,
 2778,
 2757,
 2764,
 2784,
 2756,
 2731,
 2734,
 2754,
 2802,
 2613,
 2754,
 2726,
 2729,
 2747,
 2736,
 2611,
 2747,
 2747,
 2685,
 2745,
 2759,
 2762,
 2740,
 2808,
 2779,
 2735,
 2750,
 2690,
 2729,
 2675,
 2736,
 2728,
 2627,
 2667,
 2727,
 2752,
 2686,
 2722,
 2580,
 2673,
 2720,
 2616,
 2645,
 2720,
 2624,
 2574,
 2715,
 2626,
 2657,
 2714,
 2617,
 2654,
 2712,
 2639,
 2682,
 2711,
 2636,
 2606,
 2710,
 2682,
 2644,
 2709,
 2738,
 2808,
 2709,
 2642,
 2760,
 2707,
 2710,
 2832,
 2704,
 2223,
 2598,
 2703,
 2553,
 2609,
 2702,
 2712,
 2791,
 2702,
 2631,
 2695,
 2701,
 2629,
 2607,
 2701,
 2621,
 2678,
 2698,
 2639,
 2561,
 2696,
 2651,
 2742,
 2694,
 2673,
 2646,
 2692,
 2642,
 2635,
 2692,
 2577,
 2648,
 2691,
 2725,
 2714,
 2689,
 2450,
 2745,
 2688,
 2573,
 2614,
 2688,
 2659,
 2676,
 2688,
 2529,
 2632,
 2688,
 2670,
 2663]

In [50]:
rapid = []
i=0
for rank in ranks:
    if i%3 == 1:
        rapid.append(rank)
    i += 1
rapid

[2847,
 2836,
 2821,
 2670,
 2766,
 2728,
 2779,
 2837,
 2721,
 2699,
 2764,
 2731,
 2802,
 2726,
 2736,
 2747,
 2759,
 2808,
 2750,
 2675,
 2627,
 2752,
 2580,
 2616,
 2624,
 2626,
 2617,
 2639,
 2636,
 2682,
 2738,
 2642,
 2710,
 2223,
 2553,
 2712,
 2631,
 2629,
 2621,
 2639,
 2651,
 2673,
 2642,
 2577,
 2725,
 2450,
 2573,
 2659,
 2529,
 2670]

In [51]:
blitz = []
i=0
for rank in ranks:
    if i%3 == 2:
        blitz.append(rank)
    i += 1
blitz

[2835,
 2788,
 2740,
 2791,
 2847,
 2850,
 2763,
 2850,
 2794,
 2778,
 2784,
 2734,
 2613,
 2729,
 2611,
 2685,
 2762,
 2779,
 2690,
 2736,
 2667,
 2686,
 2673,
 2645,
 2574,
 2657,
 2654,
 2682,
 2606,
 2644,
 2808,
 2760,
 2832,
 2598,
 2609,
 2791,
 2695,
 2607,
 2678,
 2561,
 2742,
 2646,
 2635,
 2648,
 2714,
 2745,
 2614,
 2676,
 2632,
 2663]

In [52]:
fide = {
    "Name":names,
    "Rapid": rapid,
    "Blitz":blitz,
}

In [53]:
fide_df = pd.DataFrame(fide)
fide_df

                       Name  Rapid  Blitz
0            Magnus Carlsen   2847   2835
1                Ding Liren   2836   2788
2        Ian Nepomniachtchi   2821   2740
3          Alireza Firouzja   2670   2791
4           Fabiano Caruana   2766   2847
5             Levon Aronian   2728   2850
6                 Wesley So   2779   2763
7           Hikaru Nakamura   2837   2850
8                Anish Giri   2721   2794
9     Shakhriyar Mamedyarov   2699   2778
10   Maxime Vachier-Lagrave   2764   2784
11        Viswanathan Anand   2731   2734
12          Richard Rapport   2802   2613
13  Leinier Dominguez Perez   2726   2729
14          Sergey Karjakin   2736   2611
15         Teimour Radjabov   2747   2685
16       Alexander Grischuk   2759   2762
17       Jan-Krzysztof Duda   2808   2779
18                 Wang Hao   2750   2690
19         Dmitry Andreikin   2675   2736
20          Veselin Topalov   2627   2667
21                   Wei Yi   2752   2686
22          Nikita Vitiugov   2580   2673
23         Samuel Shankland   2616   2645
24      Pentala Harikrishna   2624   2574
25            Le Quang Liem   2626   2657
26   Vidit Santosh Gujrathi   2617   2654
27        Kirill Alekseenko   2639   2682
28       Radoslaw Wojtaszek   2636   2606
29   Francisco Vallejo Pons   2682   2644
30                Yu Yangyi   2738   2808
31              Bu Xiangzhi   2642   2760
32       Vladislav Artemiev   2710   2832
33                 Gukesh D   2223   2598
34           Sanan Sjugirov   2553   2609
35             Daniil Dubov   2712   2791
36       Evgeny Tomashevsky   2631   2695
37       Parham Maghsoodloo   2629   2607
38            Alexei Shirov   2621   2678
39       Gabriel Sargissian   2639   2561
40            Michael Adams   2651   2742
41         Matthew D Sadler   2673   2646
42            Anton Korobov   2642   2635
43       Bogdan-Daniel Deac   2577   2648
44            Jeffery Xiong   2725   2714
45           Arjun Erigaisi   2450   2745
46          Alexandr Predke   2573   2614
47             David Navara   2659   2676
48        Hans Moke Niemann   2529   2632
49    Nodirbek Abdusattorov   2670   2663